---
layout: page
full-width: true
cover-img: "/assets/img/ZKP_Web3 HackathonBanner.jpg"
---

<!-- Homepage HTML -->

<!-- <div class="banner">
  <img src="{{site.baseurl}}/assets/img/ZKP_Web3_HackathonBanner.jpg" alt="Banner Image">
</div> -->


<style>
  .banner {
    position: realtive;
    text-align: center;
    margin-top: -70px;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100vh; */
    overflow: hidden;
  }
  
  .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  </style>

<div class="banner">
  <img src="{{site.baseurl}}/assets/img/zkp_hack_23_banner.png" alt="Banner Image"
       class="banner-img">
</div>




<br>

<!-- <h1 style="text-align: center; font-size: 36px; font-weight: bold; text-shadow: 2px 2px #CCC; margin-top: 100px; margin-bottom: 100px;">
  close to 4000 students have enrolled in the 
  <a href="https://zk-learning.org">ZKP MOOC</a> from all around the world!</h1> -->

<h2 style="text-align: justify; font-size: 1.5rem; margin-top: 20px; margin-bottom: 20px;">
  This ZKP / Web3 Hackathon, hosted by Berkeley <a href="https://rdi.berkeley.edu/">RDI</a> and in partnership with <a href="https://zk-learning.org">ZKP MOOC</a> (~4000 enrolled worldwide), aims to bring together all students, researchers, and practitioners to build and showcase their innovative work in ZKP, grow the ZKP community, and advance ZKP technology. 
  It is open to the public, and is held both virtual and in-person at UC Berkeley.
</h2>

<h3> Thank you for participating, please register for ZKP Closing Workshop, Hackathon Demos & Awards Ceremony, plus Career Fair & Dev Info Reception, on Tuesday, May 2, 5-8pm PDT, offered both virtually and in-person at Wozniak Lounge, Soda Hall, UC Berkeley: </h3>

<br>

<p style="text-align: justify; margin-top: 20px; margin-bottom: 20px;">
  The hackathon is designed to have 4 tracks:
<ul>
  <li>zk-Applications track: any developer can build and showcase innovative applications using ZKP in diverse domains.</li>
  <li>zkBridge track: building a secure, universal  foundation for multichain interoperability using ZKP through decentralized community collaboration.
  </li>
  <li>zk-Circuits track: optimizing and improving commonly used circuits  through decentralized community collaboration.</li>
  <li>zk-Benchmarks track: building a unified framework for benchmarking ZKPs, with standardized interfaces for integrating different components, ZKP frameworks, and workloads, enabling anyone to contribute to advance the understanding and improvement in ZKP performance in practice.
  </li>
</ul>
</p>

<p>
  Each track specifies a set of <b>designated tasks</b>, each with a corresponding prize. Beyond the designated tasks, participants can also propose <b>self-selected tasks</b> to compete for prizes of the given track!
</p>

<p>
Several hackathon tracks are also being held as an initiative by <a href="https://zkcollective.org/">zk-Collective</a> and supported by a number of industry partners and sponsors.
We hope this hackathon with these specially-designed tracks can help demonstrate that we are entering a new phase of maturity and practicality of ZKP technology where 
<ul>
  <li>Every developer can learn to use ZKP technology for building apps (zk-Applications track)
  </li>
  <li>Decentralized community collaboration can effectively bring the community together to build key technologies and infrastructure for ZKP, serving as important foundations and public good for the community in ZKP (zkBridge, zk-Circuits, zk-Benchmarks track)
  </li>
</ul>

For Hackathon discussion, please join the Hackathon channel at <a href="https://discord.gg/z67NWXzFzj">ZKP MOOC discord</a>.
</p>


<!-- CSS for the banner -->

<style>
  .banner {
    width: 100%;
    overflow: hidden;
  }

  .banner img {
    width: 150%;
    height: 120%;
    object-fit: contain;
    margin: 0 auto;
  }
</style>

<div style="height:10px; width:100%; clear:both;"></div>

<!--
<div data-tf-widget="YzXtT8nS" data-tf-opacity="100" data-tf-iframe-props="title=ZKP Hackathon Application 2" data-tf-transitive-search-params data-tf-medium="snippet" style="width:100%;height:500px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
-->

<style>
  .apply-button {
    background-color: #CB9445;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 50%;
    margin: 20px auto 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 24px;
  }

  .apply-button:hover {
    background-color: #9B7B36;
  }
</style>

<head> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head> 

<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<h1 style="text-align: center; font-size: 36px; margin-top: 40px; margin-bottom: 40px; color: #CB9445;">PRIZES</h1>


<h1 style="text-align: center; font-size: 1.5rem; margin-top: 20px; margin-bottom: 20px;">
  <!-- In addition to the <b>multiple tracks with monetary prizes (more to be announced), winners will also be nominated to the ZKP Summer Cluster at Simons Institute</b>, co-hosted by Simons and Berkeley RDI, <b>with up to $100K available for scholarships</b>. -->
  Prizes (Up to $200,000+ in Prizes)
</h1>

<ul style="list-style-position: inside; margin: 40px auto; width: 80%;">
  <li style="margin-bottom: 20px;">Monetary prizes for the winning teams in each track (details to be announced soon)</li>
  <li style="margin-bottom: 20px;">For each dedicated task and each sponsored task, we will select up to 2 qualified winners unless explicitly stated otherwise.
    <ul>
    <li> Each winner will have a chance to get admission and potentially scholarships to the ZKP Summer Cluster at UC Berkeley Simons Institute, co-hosted by Simons Institute and Berkeley RDI. Total up to $100,000 scholarship is available for the ZKP summer cluster at Simons, including up to $1500 scholarship per person to attend ZKP workshop at ZKP summer cluster at Simons, and 
    up to $10,000 scholarship per person to be part of a research program at ZKP summer cluster at Simons. (More details about the ZKP summer cluster at Simons will be announced later.) </li>
    </ul>
  </li>
</ul> 

<!-- <h1 style="text-align: center; font-size: 36px; font-weight: bold; text-shadow: 2px 2px #CCC;">Code your way to the top - 100.000$ and a trip to Berkeley await!</h1>
<ul style="list-style-position: inside; margin: 40px auto; width: 80%; font-size: 24px;">
  <li style="margin-bottom: 20px;">Get nominated for the ZKP summer cluster at <a href="https://simons.berkeley.edu/homepage">Simons Institute at UC Berkeley</a>! - supported with 100.000$ in scholarships!</li>
  <li style="margin-bottom: 20px;">Propose a self-selected project to be awarded the grand prize of up to 10.000$</li>
  <li style="margin-bottom: 20px;">Fulfill designated tasks, as proposed in each of the Hackathon repostitories - win individually assigned prizes!</li>
</ul> -->

<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<div class="container-fluid">
  <!-- <h1 class="mb-5 text-center">Hackathon Tracks</h1> -->
  <h1 style="text-align: center; font-size: 36px; margin-top: 40px; margin-bottom: 40px; color: #CB9445;">HACKATHON TRACKS</h1>
  <div class="d-flex flex-wrap">
    {% for track in site.tracks reversed %}
      <div class="mb-3 w-100">
        <div class="card h-100 shadow-sm d-flex flex-column align-items-center">
          <div class="card-body">
            <h5 class="card-title text-center">
              <!-- <a>{{ track.title }}</a> -->
              <a href="{{ track.url | absolute_url }}">{{ track.title }}</a>
            </h5>
            <p class="card-text text-center">{{ track.description }}</p>
            <!-- <div class="d-flex justify-content-center">
              <a href="https://github.com/" target="_blank">
                <img src="https://cdn.iconscout.com/icon/free/png-512/github-153-675523.png" height="50" style="margin-right: 20px;">
              </a>
            </div> -->
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- <div class="mb-3 w-100">
      <div class="card h-100 shadow-sm d-flex flex-column align-items-center">
        <div class="card-body">
          <h5 class="card-title">
            <a>+ more to be announced...</a>
          </h5>
        </div>
      </div>
    </div> -->
  </div>
</div>



<!-- <h1 style="text-align: center; font-size: 24px; font-weight: bold; color: #7B0027; margin-top: 50px; margin-bottom: 50px;">MORE TO BE ANNOUNCED SOON!</h1> -->

<h1 style="text-align: center; font-size: 36px; margin-top: 40px; margin-bottom: 40px; color: #CB9445;">
    Announcing ZKP Hackathon Winners! </h1>
<style>
  table {
    margin: 0 auto; /* center the table */
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    margin-bottom:40px;
  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .column1 {
    width: 20%;
  }

  .column2 {
    width: 70%;
  }

  .column3 {
    width: 10%;
  }
  th {
    background-color: #f2f2f2;
  }
</style>

<h2>
<strong><span style="text-decoration:underline;">zk-Applications track</span></strong></h2>


<strong>Aleo ZK Gaming (sponsored by Aleo)</strong>
<table>
  <tr>
    <td class="column1">
      <strong>Pharaoh's Coders</strong>
    </td>
    <td class="column2">
      Zenet transforms the timeless Senet board game by melding mysterious invisible pieces, zero-knowledge proof technology, and an immersive 3D Unity interface, creating a captivating and secure gaming experience.
    </td>
    <td class="column3">
      <a href="https://github.com/ZenetGame">Source Code</a>
    </td>
  </tr>
  <tr>
    <td class="column1">
      <strong>aleonardo_da_vinci</strong>
    </td>
    <td class="column2">
      A zero knowledge proof implementation of the classic board game Stratego
    </td>
    <td class="column3">
      <a href="https://github.com/evan-schott/zk-stratego">Source Code</a>
    </td>
  </tr>
  <tr>
    <td class="column1">
      <strong>Kathmandu.zk</strong>
    </td>
    <td class="column2">
      Combination Lock Box is a two-player turn-based game, and the objective is to be the first player to crack the code and open the lock box.
    </td>
    <td class="column3">
      <a href="https://github.com/venture23-zkp/mastermind">Source Code</a>
    </td>
  </tr>
  <tr>
    <td class="column1">
      <strong>Kunyao academy app</strong>
    </td>
    <td class="column2"></td>
    <td class="column3">
      <a href="https://github.com/daniel5713/Kunyao-academy-app">Source Code</a>
    </td>
  </tr>
</table>
<br>

<strong>ZK for enabling mobile use cases (sponsored by Celo)</strong>
<table>
  <tr>
   <td class="column1">
<strong>CredLancer</strong>
   </td>
   <td class="column2">CredLancer is a secure gig marketplace powered by verifiable credentials.
   </td>
   <td class="column3"><a href="https://github.com/CredLancer/ZK-Hack">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>IoT Nexus</strong>
   </td>
   <td class="column2">IoT Nexus, our goal is to enhance IoT devices' adaptation to blockchain technologies.
   </td>
   <td class="column3"><a href="https://github.com/JacobEverly/IoT-Nexus">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>GMMS</strong>
   </td>
   <td class="column2">ZusK: A Zero User Knowledge portal for telecom network providers to onboard and authenticate end users.
   </td>
   <td class="column3"><a href="https://github.com/ArpitxGit/ZusK">Source Code</a>
   </td>
  </tr>
</table>
<br>

<strong>Mantle Bounties (sponsored by Mantle)</strong>
<table>
  <tr>
   <td class="column1">
<strong>Non-interactive ninjas</strong>
   </td>
   <td class="column2">ZKP2P is a privacy-preserving trustless P2P fiat onramp powered by ZK proofs and Venmo currently live on zkp2p.xyz!
   </td>
   <td class="column3"><a href="https://github.com/0xSachinK/zk-p2p-onramp">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>VNZK</strong>
   </td>
   <td class="column2">PAO Venture protocol enables the creation of a "Private DAO", which allows investors to fund projects and make decisions through voting while keeping their investment and vote details confidential.
   </td>
   <td class="column3"><a href="https://github.com/zk-VN/">Source Code</a>
   </td>
  </tr>
</table>
<br>

<strong>Self-selected Tasks (sponsored by Jump)</strong>
<table>
  <tr>
   <td class="column1">
<strong>FactFortress</strong>
   </td>
   <td class="column2">An On-Chain Zero-Knowledge Proof Framework for Fact-Checking
   </td>
   <td class="column3"><a href="https://github.com/pierg/fact-fortress-dapp">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>deenz</strong>
   </td>
   <td class="column2">Fully on-chain education platform allowing users to anonymously earn and prove credentials.
   </td>
   <td class="column3"><a href="https://github.com/0xdeenz/bq2">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>ChainWay</strong>
   </td>
   <td class="column2">a mixer that supports arbitrary transaction amounts and proof of innocence, enabling you to recursively prove that your source of funds does not originate from illicit accounts.
   </td>
   <td class="column3"><a href="https://github.com/chainwayxyz/proof-of-innocence-arb">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>FP technology</strong>
   </td>
   <td class="column2">zkMatch - mediator in a smart contract - that verifies if secret information matches between 2 people, if no - zero information leaks; in gaming mode it brings any puzzle game to play on blockchain, in CAPTCHA mode it stops bots from abusing web3 contracts once and for all.
   </td>
   <td class="column3"><a href="https://github.com/arty-arty/zkMatch">Source Code</a>
   </td>
  </tr>
</table>

<br>
<br>

<h2><strong><span style="text-decoration:underline;">zkBridge & zkCircuits tracks </span></strong></h2>

<strong>Circuit & Applications in zkBridge (sponsored by Gnosis)</strong>
<table>
  <tr>
   <td class="column1">
<strong>OUroc</strong>
   </td>
   <td class="column2">
   </td>
   <td class="column3"><a href="https://github.com/ouromoros/zk-hackathon/blob/main/README.md">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>PrivateBridge</strong>
   </td>
   <td class="column2">We design a privacy-preserving reversible asset transfer bridge between Zcash and Ethereum, built on top of zkBridge.
   </td>
   <td class="column3"><a href="https://github.com/bunny-sleepy/private-bridge-zcash-ethereum">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>Keccak256 in gnark</strong>
   </td>
   <td class="column2">Keccak256 gnark circuit
   </td>
   <td class="column3"><a href="https://github.com/akalmykov/keccak256-gnark">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>sowa3dowa</strong>
   </td>
   <td class="column2">Mathematical optimizations to pairings and elliptic curves arithmetic in R1CS
   </td>
   <td class="column3"><a href="https://github.com/yelhousni/ZKHackathon-zkCircuits">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>varun</strong>
   </td>
   <td class="column2">Implementation of Nova based SHA-512 using bellperson
   </td>
   <td class="column3"><a href="https://github.com/varunthakore/nova-sha512">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>Faulhorn Labs</strong>
   </td>
   <td class="column2">SHA2 and Keccak (SHA3) hash function implementations in circom.
   </td>
   <td class="column3"><a href="https://github.com/bkomuves/hash-circuits">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>Kunyao Academy Circuits</strong>
   </td>
   <td class="column2">
   </td>
   <td class="column3"><a href="https://github.com/yyb9882/zk_hackthon">Source Code</a>
   </td>
  </tr>
</table>
<br>


<strong>Defense in Depth (sponsored by Gnosis)</strong>
<table>
  <tr>
   <td class="column1">
<strong>zk-world</strong>
   </td>
   <td class="column2">A trustless and affordable framework for storing L1 historical states on L2 using zkp and block headers
   </td>
   <td class="column3"><a href="https://github.com/zkCollective/2023-entries-zkbridge/pull/5">Source Code</a>
   </td>
  </tr>
</table>
<br>

<strong>Instantiation on XRPL (sponsored by Ripple)</strong>
<table>
  <tr>
   <td class="column1">
<strong>UPC</strong>
   </td>
   <td class="column2">XRPL zk bridge proposal and partial implementation
   </td>
   <td class="column3"><a href="https://github.com/danivilardell/XRPL_zkbridge">Source Code</a>
   </td>
  </tr>
</table>
<br>

<strong>Circuit development in Halo2-ce (sponsored by Scroll)</strong>

<table>
  <tr>
   <td class="column1">
<strong>Zero Knowledge in Zero Knowledge</strong>
   </td>
   <td class="column2">
   </td>
   <td class="column3"><a href="https://github.com/span14/zk-mooc-lab">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>GRD</strong>
   </td>
   <td class="column2">
   </td>
   <td class="column3"><a href="https://github.com/duguorong009/zk-mooc-halo2/new/main/ripemd160-circuit">Source Code</a>
   </td>
  </tr>
</table>

<br>
<br>

<h2>
<strong><span style="text-decoration:underline;">zk-Benchmarks track </span></strong></h2>


<strong>Circuits & Supporting New ZKP-frameworks (sponsored by Jump)</strong>

<table>
  <tr>
   <td class="column1">
<strong>Winterfell</strong>
   </td>
   <td class="column2">This project compares the register-based AIR paradigm and the QAP-based R1CS paradigm in a principled way by implementing examples and both using the same backend.
   </td>
   <td class="column3"><a href="https://github.com/Jasleen1/arithmetization_benchmarks">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>Celer</strong>
   </td>
   <td class="column2">Merging Celer's Pantheon of ZKP framework testbed with ZKCollective's zk-harness from ZKCollective to add starky, gnark, plonky2 frameworks and SHA256 benchmark automation for all available frameworks in zk-harness.
   </td>
   <td class="column3"><a href="https://github.com/zkCollective/zk-Harness/pull/15">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>Morgan Thomas</strong>
   </td>
   <td class="column2">Reproducible toolchain for zk-Harness benchmark suite using Nix
   </td>
   <td class="column3"><a href="https://github.com/zkCollective/zk-Harness/pull/7">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>bingcicle</strong>
   </td>
   <td class="column2">Preliminary version of an extendable Rust-based bench runner for zk-Harness
   </td>
   <td class="column3"><a href="https://github.com/zkCollective/zk-Harness/pull/19">Source Code</a>
   </td>
  </tr>
</table>
<br>

<br>

<h2>
<strong><span style="text-decoration:underline;">Writing Zero-Knowledge Apps with SnarkyJS from O(1) Labs (Sponsored by NEAR Dev Gov Track)</span></strong></h2>



<table>
  <tr>
   <td class="column1"><strong>HashCloak-e1</strong>
   </td>
   <td class="column2">Anonymous Authentication with ZK Access Management
   </td>
   <td class="column3"><a href="https://github.com/ewynx/ZKP_access_management">Source Code</a>
   </td>
  </tr>
  <tr>
   <td class="column1"><strong>secretBallot</strong>
   </td>
   <td class="column2">A single stage private voting app
   </td>
   <td class="column3"><a href="https://github.com/goforashutosh/secretBallot">Source Code</a>
   </td>
  </tr>
</table>
	
<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<h1 style="text-align: center; font-size: 36px; margin-top: 40px; margin-bottom: 40px; color: #CB9445;">TIMELINE</h1>

<style>
  table {
    margin: 0 auto; /* center the table */
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }
</style>

<table>
  <tr>
    <th>Date</th>
    <th>Event</th>
  </tr>
  <tr>
    <td>March 1</td>
    <td>Begin ZKP Hackathon; Participant Sign up Open</td>
  </tr>
  <tr>
    <td>March 12</td>
    <td>Team/Track Sign Up</td>
  </tr>
  <tr>
    <td>April 4</td>
    <td>Mid-hackathon Progress Check-in</td>
  </tr>
  <tr>
    <td>April 21</td>
    <td>Submission 1st round Deadline</td>
  </tr>
  <tr>
    <td>April 25</td>
    <td>Announcement of final demo participants</td>
  </tr>
  <tr>
    <td>May 2</td>
    <td>Submission demos, Winner announcement & Closing event</td>
  </tr>
</table>


<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<h1 style="text-align: center; font-size: 36px; margin-top: 40px; margin-bottom: 40px; color: #CB9445;">HACKATHON PROGRAM SCHEDULE</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Program Session</th>
  </tr>
  <tr>
    <td>March 7, 5PM PT</td>
    <td> ZKP Hackathon Welcome & Overview Session (<a href = "https://youtu.be/ly_KKa36ozU">Recording</a>) </td>
  </tr>
  <tr>
    <td>March 14, 5PM PT</td>
    <td> SnarkyJS - recursive ZKP in typescript (O(1) Labs) (<a href = "https://youtu.be/KVJWBk0wNSE">Recording</a>) </td>
  </tr>
<tr> 
	<td> March 20, 12PM PT</td> 
	<td> Building and Testing Circuits with halo2-ce (Scroll) (<a href = "https://www.youtube.com/watch?v=60lkR8DZKUA">Recording</a>) </td>
</tr>
<tr> 
	<td> March 21, 5PM PT</td> 
	<td> Demystifying ZK Programming (Aleo) (<a href = "https://youtu.be/YObef44wKPU">Recording</a>) </td>
</tr>
<tr> 
	<td> April 4, 5PM PT</td> 
	<td> Exploring ZKP for XRP Ledger (Ripple) (<a href = "https://youtu.be/Y53CqZwdzs0">Recording</a>) (<a href = "{{site.baseurl}}/assets/img/ripple.pdf">Slides</a>) </td>
</tr>
<tr> 
	<td> April 4, 6PM PT</td> 
	<td> Builders on zkBridge: Defense in Depth (Gnosis) (<a href = "https://youtu.be/Y53CqZwdzs0?t=1644">Recording</a>) (<a href = "{{site.baseurl}}/assets/img/hashi_prez.pdf">Slides</a>) </td>
</tr>
</table>

<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<h1 style="text-align: center; font-size: 36px; margin-top: 40px; margin-bottom: 40px; color: #CB9445;">OFFICE HOURS & DISCORD INFO</h1>

<p> SnarkyJS - Office hours are at 9 - 10am PT every Wednesday. There's an additional session every second Wednesday at 10 - 11am CET to cover more timezones. The schedule can be found <a href = "https://lu.ma/mina">here</a>.</p>
<p> Join Aleo's <a href = "https://discord.com/invite/aleohq">Discord</a>! Post questions in the channel labeled aleo-language underneath the Engineering category on the Aleo Discord server. </p> 
<p> Join Ripple’s XRPL Discord<a href = "//xrpldevs.org"> here</a>!</p>
<p> Weekly office hours are every 9 - 10am PT every Thursday for the zk-Benchmark track. (<a href = "https://tum-conf.zoom.us/j/61857724914?pwd=czl0K0hiR2ZJdGNVWjZiWDV0bkJVZz09">Zoom Link</a>)</p>
<p> Weekly office hours are every 3 - 4pm PT every Thursday for the zk-Bridge track. (<a href = "https://berkeley.zoom.us/j/97753817918?pwd=SXFKVGtvN0RudmhJWHB1VGxTL1I5dz09">Zoom Link</a>)</p>

<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">


<h1 style="text-align: center; font-size: 36px; margin-top: 40px; margin-bottom: 40px; color: #CB9445;">MID-SEASON CHECK-IN</h1>

<p>For the mid-season progress check-in, please provide a short write-up that details 1) progress you made so far and 2) a timeline for open tasks that remain to be solved until submission. The mid-season progress check-in will not be included in the final evaluation.
</p>
<p> You can find the mid-season progress check-in form <a href = "https://forms.gle/coftGBqVUJwjxZ6i7">here</a>.</p>

<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<h1 style="text-align: center; font-size: 36px; margin-top: 40px; margin-bottom: 40px; color: #CB9445;">SUBMISSION</h1>

<p> The deadline for the first round of submission is April 21, 2023. You can find the final submission form <a href = "https://forms.gle/S53s9uAz56n4coXd9">here</a>.</p>

<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<h1 style="text-align: center; font-size: 36px; margin-top: 40px; margin-bottom: 40px; color: #CB9445;">JUDGES</h1>
<!-- <h1 style="text-align: center; font-size: 36px; font-weight: bold; text-shadow: 2px 2px #CCC; margin-top: 40px; margin-bottom: 40px;">JUDGES</h1> -->

<style>
  th, td {
    text-align: center;
    vertical-align: middle;
  }
</style>

<style>
#faculty-container {
  /* background-color: #f8f8f6; */
  background-color: white;
  margin-top: -29px;
  margin-left: -10vw;
  margin-right: -10vw;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
}

.faculty-list {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.faculty {
  width: 150px;
  height: 200px;
  text-align: center;
  margin: 40px;
}

.circular {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  overflow: hidden;
  -webkit-border-radius: 125px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 125px;
  -moz-background-clip: padding;
  background-clip: padding-box;
  float: left;
  background-size: auto 100%;
  background-position: center center;
}

.faculty-caption {
  padding-top: 10px;
  margin-top: 125px;
}

.faculty-text {
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 400;
  font-size: 18pt;
  text-decoration: none;
  /* color: #666666; */
}

.faculty-title {
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 400;
  font-size: 26pt;
  /* color: #888; */
  padding-top: 40px;
  padding-bottom: 20px;
}
</style>

<div id="faculty-container">
  {% for section in site.data.people %}
  <div style="display: inline-block; padding-left: 20px; padding-right: 20px;">
      <!-- <h2 class="faculty-title"> {{ section.section_name }} </h2> -->
      <div class="faculty-list">
          {% for people in section.people %}
          <div class="faculty">
              {% if people.image_file %}
              <a href=" {{ people.homepage }}" class="circular"
                  style="
                      background-image: url({{site.baseurl}}/assets/img/{{people.image_file}});
                  background-position: top;"
                  alt="{{ people.name }}">
              </a>
              {% else %}
              <a href=" {{ people.homepage }}" class="circular"
                  style="
                      background-image: url({{site.baseurl}}/assets/images/default_profile.jpg);
                  background-position: top; "
                  alt="{{ people.name }}">
              </a>
              {% endif %}
              <div class="faculty-caption">
                  <a href="{{ people.homepage }}" class="faculty-text">
                      <div class="faculty-text"> {{ people.name | replace_first: " ", "<br>"}} </div>
                      <!-- <div class="faculty-text" style="font-size: 0.8rem;"> {{ people.subtitle }} </div> -->
                  </a>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
  {% endfor %}
</div>

<br>
<h1 style="text-align: center; font-size: 24px; font-weight: bold; color: #7B0027; margin-top: 40px; margin-bottom: 40px;">MORE JUDGES WILL BE ANNOUNCED SOON!</h1>


<!-- <div style="height:30px; width:100%; clear:both;"></div> -->
<!--
<h1>Sponsors</h1>
<div class="sponsor-logos">
  <a href="https://rdi.berkeley.edu" target="_blank">
    <img src="{{site.baseurl}}/assets/img/berkeley.png" alt="Sponsor 1">
  </a>
  <a href="https://rdi.berkeley.edu" target="_blank">
    <img src="{{site.baseurl}}/assets/img/berkeley.png" alt="Sponsor 2">
  </a>
  <a href="https://rdi.berkeley.edu" target="_blank">
    <img src="{{site.baseurl}}/assets/img/berkeley.png" alt="Sponsor 3">
  </a>
  <a href="https://rdi.berkeley.edu" target="_blank">
    <img src="{{site.baseurl}}/assets/img/berkeley.png" alt="Sponsor 3">
  </a>
</div>
-->
<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<style>
  .banner {
    position: realtive;
    text-align: center;
    margin-top: -70px;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100vh; */
    overflow: hidden;
  }
  
  .sponsor-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  </style>

<div class="sponsors">
  <img src="{{site.baseurl}}/assets/img/sponsors.png" alt="Sponsors" class="sponsor-img">
</div>

<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">


<style>
  form {
    width: 95%;
    max-width: 500px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
  }
  
  input[type="submit"] {
    background-color: #CB9445;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
    font-weight: bold;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 22px;
  }
</style>

<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:90%; max-width:600px; margin:0 auto;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<div id="mc_embed_signup">
    <form action="https://berkeley.us14.list-manage.com/subscribe/post?u=0d89bb5c8066a9533eb98759d&amp;id=c0a5c3e877&amp;f_id=004ae9e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <h2>Join the mailing list to stay informed!</h2>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
	<span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME" required>
	<span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME" required>
	<span id="mce-LNAME-HELPERTEXT" class="helper_text"></span>
</div>
<div hidden="true"><input type="hidden" name="tags" value="11236913"></div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0d89bb5c8066a9533eb98759d_c0a5c3e877" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='ORG';ftypes[6]='text';fnames[7]='CATEGORY';ftypes[7]='dropdown';fnames[8]='LOCATION';ftypes[8]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
